/* start variables */
:root {
  --blue-color: #009cff;
  --dark-blue-font: #1b2944;
  --dark-blue: #22385d;
  --light-blue: #f3f8fe;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */
.heading_title {
  text-align: center;
  margin: 20px 0 70px;
}
.heading_title > h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--blue-color);
  margin-bottom: 15px;
}
.heading_title > p {
  position: relative;
  color: var(--dark-blue-font);
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto";
}
.heading_title > p::after {
  width: 10%;
  bottom: -20px;
}
.heading_title > p::before {
  bottom: -15px;
  width: 15%;
}
.heading_title > p::before,
.heading_title > p::after {
  position: absolute;
  content: "";
  height: 2px;
  background: var(--blue-color);
  left: 50%;
  transform: translateX(-50%);
}
/* end components */
/* start Home */
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../images/carousel-1.jpg);
  background-size: cover;
  max-width: 100%;
}
.home .cover {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000057;
}
.home .container {
  position: relative;
  z-index: 5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
.home .title {
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home p {
  margin: 50px 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: 900;
  line-height: 1.4;
  width: 65%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .home p {
    margin: 50px 0;
  }
}
@media (max-width: 992px) {
  .home p {
    margin: 30px 0;
    width: 90%;
    font-size: 3em;
  }
}
.home button {
  height: 50px;
  width: 20%;
}
@media (max-width: 768px) {
  .home button {
    width: 40%;
  }
}
.home button a {
  color: #222;
  font-weight: bold;
  padding: 15px;
}
.home i.up_down {
  font-size: 1.5em;
  animation: up_down 2s infinite;
  position: absolute;
  bottom: 60px;
}
@media (max-width: 768px) {
  .home i.up_down {
    bottom: 60px;
  }
}
@media (max-width: 992px) {
  .home i.up_down {
    bottom: 28px;
  }
}
@keyframes up_down {
  40% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home .left,
.home .right {
  position: absolute;
  top: 50%;
  color: white;
  background: #009cffdb;
  opacity: 0.6;
  padding: 45px;
  transform: translateY(-50%);
  transition: 0.15s;
}
@media (max-width: 768px) {
  .home .left,
  .home .right {
    display: none;
  }
}
.home .right {
  right: 0;
}
.home .left i,
.home .right i {
  font-size: 1.2em;
}
.home .left:hover,
.home .right:hover {
  opacity: 1;
}
@media (max-width: 992px) {
  .home .left,
  .home .right {
    padding: 20px;
  }
}
/* end Home */
/* start about */
.about {
  background: #fff;
  margin: 100px 0;
}
.about .container {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
.about .text > span {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue-color);
  letter-spacing: 1.5px;
}
.about img {
  width: 40%;
}
@media (max-width: 992px) {
  .about img {
    width: 100%;
  }
}
.about .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 992px) {
  .about .text {
    gap: 25px;
  }
}
.about h2 {
  font-size: 55px;
  color: var(--dark-blue);
}
.about h2 span {
  color: var(--blue-color);
}
.about p {
  line-height: 1.4;
  color: #777;
}
.about button {
  width: fit-content;
  padding: 15px 30px;
  font-weight: bold;
  color: white;
  background: var(--blue-color);
  border: none;
  cursor: pointer;
  transition: 0.1s;
}
.about button:hover {
  filter: opacity(0.9);
}
/* end about */
/* start services */
.services {
  margin: 50px 0;
}
.services .container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.services .box {
  position: relative;
  min-width: 250px;
  overflow: hidden;
  flex: 1;
  background: var(--light-blue);
  cursor: pointer;
}
@media (max-width: 768px) {
  .services .box {
  min-width: fit-content;
  }
}
@media (max-width: 992px) {
  .services .box {
    max-width: 50%;
  }
}
.services .box img {
  max-width: 100%;
  transition: 0.5s;
}
.services .box h3 {
  position: relative;
  text-align: center;
  padding: 15px;
  background-color: var(--light-blue);
  color: var(--dark-blue-font);
  font-size: 1.5em;
  z-index: 2;
}
.services .box .plus {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  transform: translate(-50%, -65%);
  border: 2px solid white;
  transition: 0.5s;
}
.services .box .plus:hover {
  border: var(--dark-blue);
  background-color: var(--dark-blue);
}
.services .box:hover .plus {
  display: flex;
}
.services .box:hover img {
  transform: scale(1.2);
}
.services .box .plus i {
  font-size: 25px;
  color: white;
}
/* end services */
