/* start variables */
:root {
  --blue-color: #009cff;
  --dark-blue-font: #1b2944;
  --dark-blue: #22385d;
  --light-blue: #f3f8fe;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */
.heading_title {
  text-align: center;
  margin: 20px 0 70px;
  position: relative;
  z-index: 2;
}
.heading_title > h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--blue-color);
  margin-bottom: 15px;
}
.heading_title > p {
  position: relative;
  color: var(--dark-blue);
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto";
}
.heading_title > p::after {
  width: 10%;
  bottom: -20px;
}
.heading_title > p::before {
  bottom: -15px;
  width: 15%;
}
.heading_title > p::before,
.heading_title > p::after {
  position: absolute;
  content: "";
  height: 2px;
  background: var(--blue-color);
  left: 50%;
  transform: translateX(-50%);
}
.box .plus {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  transform: translate(-50%, -65%);
  border: 2px solid white;
  transition: 0.5s;
  opacity: 0;
}
.box .plus:hover {
  border: var(--dark-blue);
  background-color: var(--dark-blue);
}
.box:hover .plus {
  opacity: 1;
}
.box:hover img {
  transform: scale(1.2);
}
.box .plus i {
  font-size: 50px;
  color: white;
  transform: translateY(-1px);
}
/* end components */
/* start Home */
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../images/carousel-1.jpg);
  background-size: cover;
  max-width: 100%;
}
.home .cover {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000057;
}
.home .container {
  position: relative;
  z-index: 5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
.home .title {
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home p {
  margin: 50px 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: 900;
  line-height: 1.4;
  width: 65%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .home p {
    margin: 50px 0;
  }
}
@media (max-width: 992px) {
  .home p {
    margin: 30px 0;
    width: 90%;
    font-size: 3em;
  }
}
.home button {
  height: 50px;
  width: 20%;
}
@media (max-width: 768px) {
  .home button {
    width: 40%;
  }
}
.home button a {
  color: #222;
  font-weight: bold;
  padding: 15px;
}
.home i.up_down {
  font-size: 1.5em;
  animation: up_down 2s infinite;
  position: absolute;
  bottom: 60px;
}
@media (max-width: 768px) {
  .home i.up_down {
    bottom: 60px;
  }
}
@media (max-width: 992px) {
  .home i.up_down {
    bottom: 28px;
  }
}
@keyframes up_down {
  40% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home .left,
.home .right {
  position: absolute;
  top: 50%;
  color: white;
  background: #009cffdb;
  opacity: 0.6;
  padding: 45px;
  transform: translateY(-50%);
  transition: 0.15s;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 768px) {
  .home .left,
  .home .right {
    display: none;
  }
}
.home .right {
  right: 0;
}
.home .left i,
.home .right i {
  font-size: 1.2em;
}
.home .left:hover,
.home .right:hover {
  opacity: 1;
}
@media (max-width: 992px) {
  .home .left,
  .home .right {
    padding: 20px;
  }
}
/* end Home */
/* start about */
.about {
  background: #fff;
  margin: 100px 0;
}
.about .container {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
.about .text > span {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue-color);
  letter-spacing: 1.5px;
}
.about img {
  width: 40%;
}
@media (max-width: 992px) {
  .about img {
    width: 100%;
  }
}
.about .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 992px) {
  .about .text {
    gap: 25px;
  }
}
.about h2 {
  font-size: 55px;
  color: var(--dark-blue);
}
.about h2 span {
  color: var(--blue-color);
}
.about p {
  line-height: 1.4;
  color: #777;
}
.about button,
.q {
  width: fit-content;
  padding: 15px 30px;
  font-weight: bold;
  color: white;
  background: var(--blue-color);
  border: none;
  cursor: pointer;
  transition: 0.1s;
}
.about button:hover,
.q:hover {
  filter: opacity(0.9);
}
/* end about */
/* start services */
.services {
  margin: 50px 0;
}
.services .container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.services .box {
  position: relative;
  min-width: 250px;
  overflow: hidden;
  flex: 1;
  background: var(--light-blue);
  cursor: pointer;
}
@media (max-width: 768px) {
  .services .box {
    min-width: fit-content;
  }
}
@media (max-width: 992px) {
  .services .box {
    max-width: 50%;
  }
}
.services .box img {
  max-width: 100%;
  transition: 0.5s;
}
.services .box h3 {
  position: relative;
  text-align: center;
  padding: 15px;
  background-color: var(--light-blue);
  color: var(--dark-blue-font);
  font-size: 1.5em;
  z-index: 2;
}
/* end services */
/* start project */
.project {
  position: relative;
  background: url(../images/gallery.jpg);
  background-size: cover;
  max-width: 100%;
  padding: 40px 0;
}
.project .cover {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000094;
}
.project .heading_title p {
  color: white;
}
.project .container {
  position: relative;
  z-index: 2;
}
.swipe {
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
  gap: 30px;
}
.swipe .left,
.swipe .right {
  background: white;
  padding: 20px 25px;
  cursor: pointer;
  border-radius: 2px;
}
.swipe .left i,
.swipe .right i {
  font-size: 20px;
  color: var(--blue-color);
}
.project .box {
  position: relative;
  overflow: hidden;
}
.project .box img {
  max-width: 100%;
  transition: 0.5s;
}
.project .gallery {
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
}
.project .gallery .box {
  min-width: 200px;
}
@media (max-width: 992px) {
  .project .gallery .box {
    min-width: 250px;
  }
}
@media (max-width: 380px) {
  .project .gallery .box {
    min-width: 100%;
  }
}
/* end project */
/* start team */
.team {
  margin: 80px 0;
}
.team .container {
  display: flex;
  flex-direction: column;
}
.team .container .member-card {
  width: 50%;
  display: flex;
  height: 290px;
}
.team .container .member-card.right {
  align-self: end;
}
@media (max-width: 992px) {
  .team .container {
    align-items: center;
  }
  .team .container .member-card {
    width: 80%;
  }
  .team .container .member-card.right {
    align-self: auto;
  }
}
.team .container .member-card.left img {
  order: 2;
}
.team .member-card img {
  width: 50%;
}
@media (max-width: 768px) {
  .team .container .member-card {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .team .member-card img {
    width: 100%;
  }
  .team .container .member-card.left img {
    order: 0;
  }
}
.team .member-card .text {
  background: var(--light-blue);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.team .member-card .text h4 {
  color: var(--dark-blue-font);
  font-size: 20px;
}
.team .member-card .text span {
  color: #555;
}
.team .member-card .text p {
  line-height: 1.2;
  color: #555;
}
.team .member-card .text ul {
  display: flex;
  justify-content: space-evenly;
}
.team .member-card .text i {
  color: var(--blue-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue-color);
  transition: 0.3s;
}
.team .member-card .text i:hover {
  background-color: var(--blue-color);
  color: white;
}
/* end team */
/* start FAQS */
.faqs {
  margin: 80px 0;
}
.faqs .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.faqs .container > div:first-child {
  position: relative;
  text-align: right;
}
@media (max-width: 992px) {
  .faqs .container {
    flex-direction: column;
    align-items: center;
  }
  .faqs .container > div,
  .faqs .container > div:first-child {
    text-align: center;
  }
}
.faqs .container > div h4 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--dark-blue);
}
.faqs .container > div:first-child:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 90%;
  background: var(--blue-color);
  top: 5px;
  right: -25px;
}
@media (max-width: 992px) {
  .faqs .container > div:first-child:after {
    transform: rotate(90deg);
    top: 60%;
    right: 50%;
  }
}
.faqs .container > div li {
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--dark-blue-font);
}
.faqs .container > div li i {
  color: #4caf50;
}
.faqs .container > div .left li i {
  margin-right: 10px;
}
.faqs .container > div .right li i {
  margin-left: 10px;
}
@media (max-width: 992px) {
  .faqs .container > div .right li {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .faqs .container > div .right li i {
    order: -1;
  }
}
.q {
  margin: 30px auto 0;
  display: block;
}
/* end FAQS */
/* start testmonial */
.testmonial {
  margin: 80px 0;
}
.testmonial .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.testmonial .container .swipe div {
  background: var(--blue-color);
}
.testmonial .container .swipe div i {
  color: white;
}
.testmonial .container .slider {
  max-width: 80%;
}
.testmonial .slider .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testmonial .slider .client p {
  margin: 30px 0 20px;
  line-height: 1.5;
  font-size: 1.5em;
  color: #777;
}
.testmonial .slider .client h4 {
  color: var(--dark-blue);
  font-size: 1.3em;
  margin-bottom: 10px;
}
.testmonial .slider .client span {
  color: #777;
}
/* end testmonial */
/* start contact */
.contact {
  margin: 80px 0;
}
.contact .container {
  display: flex;
  justify-content: center;
}
.contact form {
  width: 90%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.contact form > * {
  padding: 15px;
  border: none;
  background-color: var(--light-blue);
  transition: 0.1s;
}
.contact form > *:focus {
  outline: 2.5px solid #009cff70;
}
.contact form input.name,
.contact form input[type="email"] {
  grid-column: 1;
  grid-row: 1/2;
}
.contact form input[type="email"] {
  grid-column: 2;
}
@media (max-width: 992px) {
  .contact form input.name,
  .contact form input[type="email"] {
    grid-column: 1/3;
    grid-row: auto;
  }
}
.contact form input:last-of-type {
  grid-column: 1/3;
}
.contact form textarea {
  grid-column: 1/3;
  resize: vertical;
}
/* end contact */
/* start footer */
footer {
  position: relative;
  background: var(--dark-blue);
  padding: 30px 0;
}
footer h4 {
  color: var(--blue-color);
  font-size: 1.2em;
  letter-spacing: 3.5px;
  margin-bottom: 10px;
}
footer .contact-info {
  background: #2d4b7c;
  margin: 40px 0 20px;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  footer .contact-info {
    flex-direction: column;
    gap: 40px;
  }
}
footer .contact-info p {
  color: white;
  font-size: 1.05em;
}
footer .info {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  footer .info {
    flex-wrap: wrap;
    gap: 40px;
  }
  footer .info .descrip {
    min-width: 350px;
    flex: 1;
  }
  footer .info .products {
    min-width: 250px;
    flex: 1;
  }
  footer .info .newsletter {
    min-width: 500px;
    flex: 1;
  }
}
@media (max-width: 768px) {
  footer .info {
    flex-direction: column;
  }
  footer .info .newsletter {
    min-width: 100%;
  }
}
footer .info .descrip {
  width: 40%;
}
footer .info .descrip p {
  color: white;
  line-height: 1.4;
  margin-bottom: 20px;
}
footer .info .descrip ul {
  display: flex;
  gap: 15px;
}
footer .info .descrip ul i {
  color: white;
  font-size: 1.3em;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
footer .info .descrip ul i:hover {
  color: #2d4b7c;
  background-color: white;
}
footer .info .products {
  width: 25%;
}
footer .info .products li {
  margin-bottom: 10px;
}
footer .info .products a {
  color: white;
}
footer .info .products a i {
  margin-right: 6px;
}
footer .info .newsletter {
  width: 50%;
}
footer .info .newsletter p {
  color: white;
  line-height: 1.3;
  margin-bottom: 20px;
}
footer .info .newsletter .email {
  display: flex;
}
footer .info .newsletter input[type="email"] {
  padding: 15px;
  width: 75%;
  border: none;
}
footer .info .newsletter input[type="email"]:focus {
  outline: 2.5px solid #009cff70;
}
footer .info .newsletter button {
  width: 25%;
  cursor: pointer;
  border: none;
  color: white;
  background: var(--blue-color);
}
footer hr {
  width: 99%;
  left: 4px;
  position: absolute;
  border: none;
  background: #77777740;
  height: 2px;
}
footer .theend {
  padding-top: 30px;
  text-align: center;
  letter-spacing: 1.2px;
}
footer .theend a {
  color: white;
}
/* end footer */
